<div class="row d-flex justify-content-end border">
    <div class="col-4 pt-3">
        <p class="activity-intro">
            A curated view of all the fun activities that the club has partaken in.
        </p>
    </div>
</div>
<div class="row border">
    <div class="col-6 ps-5 border">
        <p class="activity-secondary">
            WHAT WE'VE
        </p>
        <p class="activity-primary">
            BEEN DOING
        </p>
    </div>
</div>
<br>