<div class="row d-flex justify-content-end">
    <div class="col-6">
        <p class="activity-intro">
            A curated view of all the fun activities that the club has partaken in.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-8 ps-5 border">
        <span class="activity-secondary">
            WHAT WE'VE
        </span>
    </div>
</div>
<div class="row">
    <div class="col-10 ps-5">
        <span class="activity-primary">
            BEEN DOING
        </span>
    </div>
</div>
<br>
<div id="nav-bar">
    <ul class="nav flex-column flex-sm-row activity-nav">
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./lit-bowl.html"> LITERARY BOWL </a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./improv-present.html">IMPROVISED
            PRESENTATION</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./debates.html">DEBATES</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link border-cancel border-top-add" href="./fast-recall.html">FAST RECALL</a>
    </ul>
    <ul class="nav flex-column flex-sm-row activity-nav-two">
        <a class="flex-sm-fill text-sm-center nav-hover nav-link border-bottom-add" href="./weekly-reads.html"> WEEKLY READS</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link border-bottom-add" href="./middle-ground.html"> FINDING MIDDLE GROUND</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./magazine.html">MONTHLY MAGAZINES</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link border-cancel" href="./lit-ex.html">LIT EXPEDITIONS</a>
    </ul>
</div>
<br>
<script>
    Array.from(document.getElementById("nav-bar").querySelectorAll('a')).forEach(a => {
        if (a.getAttribute("href").startsWith(`./{{slug}}`)) {
            a.classList.add("active");
        }
    });
</script>