<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debates</title>
    {{> global-head }}
    <link rel="stylesheet" href="css/activity.css">
</head>

<body>
    {{> header }}
    {{> activity-head }}
    <div class="row ps-3 pt-3">
        <p class="activity-head text-center">
            DEBATES
        </p>
    </div>
    <br><br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <p style="text-align: start;" class="activity-desc">
                    Sometimes after a book, two opposing topics will be chosen by the club. 
                    <br><br>
                    The members will be split into three teams:
                    <br><br>
                    <ol class="activity-desc">
                        <li>
                            1. The Affirmative
                        </li>
                        <li>
                            2. The Negative
                        </li>
                        <li>
                            3. The Judges
                        </li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
    <br>
    <section class="section-line">
        <div class="container py-1">
            <div class="row">
                <p class="misc-heading text-center">
                    MORE CONTENT COMING SOON!
                </p>
            </div>
        </div>
    </section>
</body>

</html>