<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> global-head }}
    <link rel="stylesheet" href="css/activity.css">
</head>

<body>
    {{> header }}
    {{> activity-head }}
    <ul class="nav flex-column flex-sm-row activity-nav">
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./lit-bowl.html"> LITERARY BOWL </a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./improv-present.html">IMPROVISED PRESENTATION</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link active" href="./debates.html">DEBATES</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./fast-recall.html">FAST RECALL</a>
    </ul>
    <ul class="nav flex-column flex-sm-row activity-nav-two">
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./middle-ground.html"> FINDING MIDDLE GROUND</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./magazine.html">MONTHLY MAGAZINES</a>
        <a class="flex-sm-fill text-sm-center nav-hover nav-link" href="./lit-ex.html">LIT EXPEDITIONS</a>
    </ul>
    <br>
    <div class="row ps-3 pt-3">
        <p class="activity-head text-center">
            DEBATES
        </p>
    </div>

</body>

</html>