<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> global-head }}
    <link rel="stylesheet" href="css/activity.css">
</head>

<body>
    {{> header }}
    {{> activity-head }}
    <div class="row ps-3 pt-3">
        <p class="activity-head text-center">
            FAST RECALL
        </p>
    </div>

</body>

</html>