<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> global-head }}
    <link rel="stylesheet" href="css/activity.css">
</head>

<body>
    {{> header }}
    {{> activity-head }}
    <div class="row ps-3 pt-3">
        <p class="activity-head text-center">
            FAST RECALL
        </p>
    </div>
    <br><br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <p style="text-align: start;" class="activity-desc">
                    A condition is chosen by the organizers on which each club member has to recall as many words as they can that befit the condition.
                    <br><br>
                    I.e. list as many words that start with A
                </p>
            </div>
        </div>
    </div>
    <br>
    <section class="section-line">
        <div class="container py-1">
            <div class="row">
                <p class="misc-heading text-center">
                    MORE CONTENT COMING SOON!
                </p>
            </div>
        </div>
    </section>
</body>

</html>