<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> global-head }}
    <link rel="stylesheet" href="css/activity.css">
</head>

<body>
    {{> header }}
    {{> activity-head }}
    <div class="row ps-3 pt-3">
        <p class="activity-head text-center">
            IMPROVISED PRESENTATION
        </p>
    </div>
    <br><br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <p style="text-align: start;" class="activity-desc">
                    - The club is presented with a list of topics.
                    <br><br>
                    - Each member chooses their desired topic for producing a PowerPoint.
                    <br><br>
                    - The PowerPoints are shuffled between each member.
                    <br><br>
                    - Each member has to present the information from the random PowerPoint they are now assigned.
                </p>
            </div>
        </div>
    </div>
    <br>
    <section class="section-line">
        <div class="container py-1">
            <div class="row">
                <p class="misc-heading text-center">
                    MORE CONTENT COMING SOON!
                </p>
            </div>
        </div>
    </section>

</body>

</html>