<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" colntent="width=device-width, initial-scale=1.0">
    <title>Athinchay</title>
    <meta property="og:site_name" content="Athinchay | Homepage" />
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <a href="" id="top"></a>
    {{> header }}
    <div class="welcome-div pt-4">
        <div class="welcome-img">
            <div class="welcome-text-div ps-5">
                <div class="container">
                    <div class="welcome-text-one-div ps-5">
                        <div class="row ps-4">
                            <div class="col-md-5 ps-5">
                                <p class="welcome-text-one ps-5">
                                    WELCOME
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="welcome-text-two-div ps-5">
                        <div class="row ">
                            <div class="col-md-3">
                                <p class="welcome-text-two">
                                    to
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="welcome-text-three-div pt-3">
                        <div class="row ps-5">
                            <div class="col-md-6 ps-5">
                                <p class="welcome-text-three">
                                    ATHINCHAY
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quote-div py-5">
        <div class="container py-5">
            <div class="row ps-5">
                <div class="col-lg-6 ps-4 sub-quote-div pt-5">
                    <div class="row py-4"></div>
                    <div class="container py-5"></div>
                    <p class="sub-quote">
                        အသင်္ချေ (a-thin-chay) is an icon for burmese antiquity. We advocate the essential preservation
                        of Burmese history,
                        its cultural goldmine, and the mark its people and stories have made on the world.
                    </p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-lg-4 quote-text-div ">
                    <p class="quote-text">
                        ဈေးသုံးလဲမလွယ်နဲ့ &nbsp; &nbsp; &nbsp;
                        <span class="quote-text-one"> ရှေးထုံးလည်းမပယ်နဲ့ </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-preview">
        <div class="gallery-preview-container">
            <div class="gallery-preview-heading-div ">
                <p class="gallery-preview-heading">
                    INSCRIPTIONS
                    <br>
                    & MANUSCRIPTS
                </p>
            </div>
        </div>
        <div class="container pt-3">
            <div class="row ">
                <div class="col-md-6 ">
                    <div class="row first-inscription-div ">
                        <p class="secondary-text-header">
                            {{> i18n en="Bayinnaung's Bell Inscription" mm="ဘုရင့်နောင်၏
                            ခေါင်းလောင်းကမ္ပည်း"}}
                        </p>
                    </div>
                    <div class="row first-inscription-text ">
                        <p class="default-text">
                            {{> i18n en="Bayinnaung's Bell Inscription is a bilingual inscription found on a bell which
                            was cast by
                            King Bayinnaung of Toungoo dynasty and hung in the middle of a road in Bago, Burma
                            (Myanmar), during the rule of king Bayinnaung from 1554 to 1581. It is written in Burmese
                            and Mon." mm="ဘုရင့်နောင်မင်း၏ ခေါင်းလောင်းကမ္ပည်း သည် နှစ်ဘာသာဖြင့် သွန်းလုပ်ထားသော
                            ခေါင်းလောင်းပေါ်တွင် တွေ့ရှိရသည့် ကမ္ပည်းဖြစ်သည်။
                            တောင်ငူမင်းဆက် ဘုရင့်နောင်သည် ပဲခူးမြို့ လမ်းလယ်တွင် ချိတ်ဆွဲထားသည်။
                            ဘုရင့်နောင်မင်းလက်ထက် ၁၅၅၄ ခုနှစ်မှ ၁၅၈၁ ခုနှစ်အထိ မြန်မာဘာသာဖြင့် ရေးသားထားသည်။"}}
                        </p>
                    </div>
                    <br>
                    <div class="row d-flex justify-content-center inscription-img boder">
                        <div class="col-md-4 ">
                            <div class="inscription-one">
                                <a href="/gallery">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Bayinnaung%27s_Bell_inscription.jpg/1200px-Bayinnaung%27s_Bell_inscription.jpg"
                                        alt="" class="gallery-img-one">
                                </a>
                            </div>
                            <br><br><br>
                            <div class="row">
                                <a href="/gallery">
                                    {{> slide-button text="See More"}}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 inscription-two d-sm-none d-lg-block">
                            <a href="/gallery">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Bayinnaung.JPG/440px-Bayinnaung.JPG"
                                    alt="" class="gallery-img-two">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row d-flex justify-content-center inscription-three">
                        <a href="/gallery" class="text-center">
                            <img src="https://lh3.googleusercontent.com/ci/AEwo86dO9Wz1LnpUq0yyqR6fp7nDBfCLiJJryoYWnq3MRKQXPdE6hd8wgp84UKqy77GbPVK8HmDocw"
                                alt="" class="gallery-img-three">
                        </a>
                    </div>
                    <br><br>
                    <div class="row inscription-four">
                        <p class="default-text">
                            {{> i18n en="The bell was first taken to Mrauk U, Arakan, Burma. And in 1825 it was taken to
                            India by
                            Bheem Singh[1] and now it hangs in a Hindu temple, Bhim Ghanta (also called 84 Mann Temple),
                            QJJ9+J77, Bakner, Uttar Pradesh 207123, India." mm="အဆိုပါ ခေါင်းလောင်းကြီးကို ရခိုင်ပြည်နယ်
                            မြောက်ဦးမြို့သို့ ပထမဆုံး သယ်ဆောင်ခဲ့သည်။ 1825 ခုနှစ်တွင် အိန္ဒိယသို့ သိမ်းယူခဲ့သည်။
                            Bheem Singh သည် ယခုအခါ ဟိန္ဒူဘုရားကျောင်း Bhim Ghanta တွင် ချိတ်ဆွဲထားသည်။"}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="manuscript-div">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade">
                            <div class="carousel-inner manuscript-div-up">
                                <div class="carousel-item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <a href="/manuscripts">
                                                    <img src="/images/manuscript-1.jpg"
                                                        class="d-block w-100 manuscript-img" alt="...">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col">
                                                <p class="default-text">
                                                    {{> i18n en="It is believed that the initial durability and
                                                    toughness of palm
                                                    leaves made them ideal for Buddhist monks and others to use them as
                                                    a writing surface, and, “unlike wood and bamboo, palm leaves require
                                                    a simple manufacturing process of boiling and drying to render them
                                                    suitable for writing." mm="ထန်းရွက်၏ ကနဦးကြာရှည်ခံမှုနှင့်
                                                    ခိုင်ခံ့မှုသည် ဗုဒ္ဓဘာသာဘုန်းကြီးများနှင့် အခြားသူများကို
                                                    စာရေးစာအဖြစ် အသုံးပြုရန် စံနမူနာဖြစ်စေသည်ဟု ယုံကြည်ရပြီး
                                                    “သစ်သားနှင့် ဝါးများမတူဘဲ ထန်းရွက်ကို ပြုတ်ပြီး အခြောက်ခံရန်
                                                    ရိုးရှင်းသော ကုန်ထုတ်လုပ်ငန်းကို လိုအပ်သည် စာရေးရန်သင့်တော်သည်။"}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="container d-block">
                                        <div class="row">
                                            <div class="col">
                                                <a href="/manuscripts">
                                                    <img src="/images/manuscript-2.jpg"
                                                        class="d-block w-100 manuscript-img" alt="...">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col">
                                                <p class="default-text">
                                                    {{>i18n en="Most of the older examples which have been preserved are
                                                    generally
                                                    those that were carried by Buddhist missionaries to Central Asia
                                                    where a colder, drier climate — one less destructive to the
                                                    materials — was prevalent. The earliest surviving palm-leaf
                                                    manuscript dates to 9th century Nepal, and the most recent examples
                                                    to be found date (like Brandeis’s manuscripts) to the 19th century."
                                                    mm="ထိန်းသိမ်းခံထားရသော ရှေးရှေးဥပမာအများစုမှာ ယေဘူယျအားဖြင့်
                                                    ဗုဒ္ဓဘာသာသာသနာပြုများက အအေးပို၍ ခြောက်သွေ့သော ရာသီဥတု—ပစ္စည်းများကို
                                                    ပျက်စီးမှုနည်းသော—တွင် ပျံ့နှံ့နေသည့် ဗဟိုအာရှသို့
                                                    ဗုဒ္ဓဘာသာသာသနာပြုများက သယ်ဆောင်လာကြသည်။ အစောဆုံး အသက်ရှင်ကျန်ခဲ့သော
                                                    ထန်းရွက်လက်ရေးစာမူသည် နီပေါတွင် ၉ ရာစုမှ ရက်စွဲနှင့်
                                                    နောက်ဆုံးတွေ့ရှိနိုင်သည့် နောက်ဆုံးနမူနာများ
                                                    (ဘရန်ဒစ်၏စာမူများကဲ့သို့) ၁၉ ရာစုအထိ ရက်စွဲများဖြစ်သည်။"}}

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex justify-content-center pt-5">
                        <a href="/manuscripts" class="pt-5">
                            {{> slide-button text="See More"}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="folklore-preview">
        <div class="folklore-heading-div d-flex flex-row-reverse pe-5">
            <p class="gallery-preview-heading">
                FOLKLORE
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 folklore-secondary">
                    <div class="row d-flex justify-content-center ">
                        <div class="folklore-field">
                            <p class="secondary-text-header">
                                {{> i18n en="Mythology" mm="ဒဏ္ဍာရီ"}}
                            </p>
                            <p class="default-text">

                                {{> i18n en="Burmese mythology (Burmese: ရှေးမြန်မာ့ဒဏ္ဍာရီ) is a collection of myths,
                                folklore, legends, and beliefs traditionally told by the Burmese people of Myanmar.
                                These stories have been passed down orally and have only rarely appeared in written
                                form."

                                mm="မြန်မာ့ဒဏ္ဍာရီသည် မြန်မာလူမျိုးတို့၏ ရိုးရာဒဏ္ဍာရီများ၊ ဤဇာတ်လမ်းများကို ပါးစပ်ဖြင့်
                                ကူးဆက်ပြီး ရေးထားသော ပုံစံဖြင့်သာ ပေါ်ထွက်ခဲပါသည်။ မြန်မာ့ဒဏ္ဍာရီသည် ဗုဒ္ဓဒဏ္ဍာရီ၊
                                ဟိန္ဒူဘာသာနှင့် အခြားသော လူမျိုးစု ဓလေ့ထုံးတမ်းများနှင့် များစွာဆက်စပ်နေပြီး
                                လွှမ်းမိုးမှုရှိသည်။"

                                }}
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/A_folded_paper_tablet.jpg/330px-A_folded_paper_tablet.jpg"
                            alt="" class="folklore-img-one">
                    </div>
                    <div class="folklore-num ">
                        <p class="folklore-pre-num">
                            01
                        </p>
                    </div>
                </div>
                <div class="col-md-4 folklore-tertiary">
                    <div class="row ">
                        <div class="folklore-num-two">
                            <p class="folklore-pre-num">
                                02
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Ramayana%28Burmese_version%29.png/330px-Ramayana%28Burmese_version%29.png"
                            alt="" class="folklore-img-two">
                    </div>
                    <div class="row  d-flex justify-content-center ">
                        <div class="folklore-field">
                            <p class="secondary-text-header">
                                {{> i18n en="Cosmology" mm="စကြာဝဠာဗေဒ"}}
                            </p>
                            <p class="default-text">
                                {{> i18n en="The most influential account for Burmese cosmogony is the Book of Adikalpa
                                (Burmese: အာဒိကပ္ပကျမ်း၊ lit. 'Genesis') which is apocryphal in Buddhism but supported
                                by the canonical statement in Aggañña Sutta."
                                mm="မြန်မာစကြာဝဠာကြီးအတွက် သြဇာအရှိဆုံးစာရင်းမှာ အဒိကပ္ပကျမ်း (ဗမာ- အာဒိကပ္ပကျမ်း၊
                                lit.'ကမ္ဘာဦး') သည် ဗုဒ္ဓဘာသာတွင် အထွတ်အထိပ်ရောက်သော်လည်း အဂ္ဂနာသုတ္တန်၌
                                ကျမ်းဂန်ဖော်ပြချက်ဖြင့် ထောက်ခံထားသည်။"
                                }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 folklore-secondary">
                    <div class="row d-flex justify-content-center">
                        <div class="folklore-field">
                            <p class="secondary-text-header">
                                {{> i18n en="The Rise of Civilization" mm="ယဉ်ကျေးမှုထွန်းကားခြင်း"}}
                            </p>
                            <p class="default-text">
                                {{> i18n en="People have different views on how to solve a hard life, thus creating the
                                Caste system (အမျိုးဇာတ်စနစ်). Later, they elected a wise man called Manu and appointed
                                him as their first and foremost ruler. He is known as Mahasamrat (မဟာသမ္မတမင်း; lit. 'He
                                who is designated by the multitude'), the first king of the earth."
                                mm="လူတွေဟာ ခက်ခဲကြမ်းတမ်းတဲ့ဘဝကို ဘယ်လိုဖြေရှင်းရမလဲဆိုတဲ့ အမြင်အမျိုးမျိုးရှိကြပြီး
                                ဇာတ်စနစ်ဖန်တီးပြီး နောက်ပိုင်းမှာတော့ Manu လို့ခေါ်တဲ့ ပညာရှိတစ်ဦးကို
                                ရွေးချယ်တင်မြှောက်ပြီး သူတို့ရဲ့ ပထမဆုံးနဲ့ အစောဆုံး အုပ်စိုးရှင်အဖြစ် ခန့်အပ်ခဲ့ပါတယ်။
                                မဟာစမ်ရတ် (မဟာသမ္မတမင်း၊ 'အများအပြားသတ်မှတ်ထားသောသူ') သည် မြေကြီး၏ပထမဆုံးသောဘုရင်ဟု
                                လူသိများသည်။"
                                }}
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Mythical_creatures.jpg" alt=""
                            class="folklore-img-one">
                    </div>
                    <div class="folklore-num-three">
                        <p class="folklore-pre-num">
                            03
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-2">
                    <a href="/hostric-literature">
                        {{> slide-button text="See More"}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="serivce-div">
        <div class="service-ani-div">
            <p class="gallery-preview-heading">
                SERVICES
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <p class="secondary-text-header">
                            {{> i18n en="GOLD LEAF OFFERING" mm="ရွှေရွက်ပူဇော်သက္ကာ"}}
                        </p>
                        <hr class="divider">
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="row pt-3">
                        <a href="/service">
                            <button class="service-btn">
                                SEE ALL
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 service-one-img">
                    <div class="card-container">
                        <div class="card-wrap">
                            <a href="/service" class="main-card-hover">
                                <div class="main-card book-card">
                                </div>
                            </a>
                            <a href="/service" class="main-card-hover">
                                <div class="medium-card-one book-card"></div>
                            </a>
                            <a href="/service" class="main-card-hover">
                                <div class="medium-card-two book-card"></div>
                            </a>
                            <a href="/service" class="main-card-hover">
                                <div class="small-card-one book-card"></div>
                            </a>
                            <a href="/service" class="main-card-hover">
                                <div class="small-card-two book-card"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pt-3">
                    <div class="row pt-5 service-one-text">
                        <p class="default-text">
                            {{>i18n en="Being a country which has various handicrafts and arts which are famous for its
                            single process, gold leaf stands as one of the well-known and time-consuming handicrafts .
                            Gold leaf is a type of metal leaf, thin sheets of real gold. It is also called gold foil or
                            gold leafing. Gold leaf handicraft is a very time consuming one to make. It contains many
                            steps and skills." mm="မြန်မာနိုင်ငံသည် ၎င်း၏ တစ်ခုတည်းသော လုပ်ငန်းစဉ်ကြောင့် ကျော်ကြားသော
                            လက်မှုပညာမျိုးစုံ ရှိသည့် နိုင်ငံတစ်နိုင်ငံဖြစ်ပြီး ရွှေရွက်သည် လူသိများပြီး အချိန်ကုန်သော
                            လက်မှုပစ္စည်းတစ်ခုအဖြစ် ရပ်တည်နေပါသည်။
                            ရွှေရွက်သည် သတ္တုအရွက် အမျိုးအစားဖြစ်ပြီး ပါးလွှာသော ရွှေအစစ်ဖြစ်သည်။ ၎င်းကို
                            ရွှေသတ္တုပါးဟုလည်း ခေါ်သည်။ ရွှေရွက်လက်မှုပညာသည် လုပ်ရန်
                            အလွန်အချိန်ကုန်သည်။ခြေလှမ်းများနှင့် ကျွမ်းကျင်မှုမျာများစွာပါဝင်ပါသည်။"}}
                        </p>
                    </div>
                    <br><br><br>
                    <div class="row ps-5">
                        <a href="/service" class="ps-5">
                            {{> slide-button text="Proceed"}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <div class="row d-flex justify-content-end">
                        <p class="secondary-text-header">
                            {{> i18n en="HISTORIC BOOKS" mm="သမိုင်းဝင်စာအုပ်များ"}}
                        </p>
                    </div>
                </div>
                <hr class="divider">
            </div>
            <div class="row pt-4">
                <div class="col-lg-6 pb-5">
                    <div class="row service-two-text pb-5">
                        <p class="default-text">
                            {{> i18n en="The earliest Myanmar literature was primarily of a religious nature and was
                            inscribed on stone. These inscriptions go as far back as the Bagan period in the 11th
                            century.
                            Palm-leaf manuscripts and folded paper manuscripts came into existence only after the 15th
                            century. The literature during this period was mainly concerned with the Janaka tales told
                            by the Buddha to his disciples in answer to certain questions. It was in the form of drama
                            and epistles or missives, written in verse. Works on law and history were written in prose.
                            Many dramas were written during the 16th to 18th centuries, while in the 19th century,
                            poems, drama, and chronicles were produced." mm="အစောဆုံး မြန်မာစာပေသည် ဘာသာရေးကို
                            အဓိကထားပြီး ကျောက်စာပေါ်တွင် ရေးထိုးထားသည်။ ဤကမ္ပည်းစာများသည် ၁၁ ရာစု ပုဂံခေတ်အထိ
                            ရှည်လျားသည်။

                            ထန်းရွက်စာမူများနှင့် ခေါက်စာရွက်စာမူများသည် ၁၅ ရာစုနောက်ပိုင်းတွင် ပေါ်ပေါက်လာခဲ့သည်။
                            ထိုခေတ်ကာလက စာပေသည် တပည့်တို့အား မြတ်စွာဘုရား ဟောထားသော ဂျန္နကာဒဏ္ဍာရီနှင့် ပတ်သက်သော
                            အချို့သော မေးခွန်းများကို ဖြေရန် ဖြစ်သည်။ အခန်းငယ်၌ ရေးထားသော ဒရာမာ နှင့် စာတိုများ
                            သို့မဟုတ် မစ်ရှင်များ အသွင်ဆောင်သည်။ ဥပဒေနှင့် သမိုင်းကြောင်းကို စကားပြေဖြင့် ရေးသားခဲ့သည်။
                            16 မှ 18 ရာစုအတွင်း ဒရမ်မာများစွာကို ရေးသားခဲ့ပြီး 19 ရာစုတွင် ကဗျာများ၊ ပြဇာတ်များနှင့်
                            ရာဇဝင်ချုပ်များကို ထုတ်လုပ်ခဲ့သည်။"}}
                        </p>
                    </div>
                    <div class="row ps-5">
                        <a href="/service" class="ps-5">
                            {{> slide-button text="Proceed"}}
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 service-img-two d-flex justify-content-center">
                    <div class="col-lg-6 service-one-img pt-4">
                        <div class="card-container">
                            <div class="second-card-wrap">
                                <a href="/service" class="main-card-hover">
                                    <div class="second-main-card second-book-card">
                                    </div>
                                </a>
                                <a href="/service" class="main-card-hover">
                                    <div class="second-medium-card-one book-card"></div>
                                </a>
                                <a href="/service" class="main-card-hover">
                                    <div class="second-medium-card-two book-card"></div>
                                </a>
                                <a href="/service" class="main-card-hover">
                                    <div class="second-small-card-one book-card"></div>
                                </a>
                                <a href="/service" class="main-card-hover">
                                    <div class="second-small-card-two book-card"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="location-div pt-5">
        <div class="row pt-5">
            <div class="col text-center location-heading-div pt-5">
                <p class="gallery-preview-heading">
                    MUST-CHECK LOCATIONS
                </p>
            </div>
        </div>
        <br>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container d-block">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 d-flex justify-content-center">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.8786213580597!2d94.85919611476562!3d21.15722818592896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30b5e56938081627%3A0x3e039a4e6a42ded!2sMya%20Zedi%20Pagoda!5e0!3m2!1sen!2smm!4v1677351316999!5m2!1sen!2smm"
                                    width="600" height="400" style=":0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
                            </div>
                            <div class="col-md-4 pt-4">
                                <p class="default-text">
                                    {{> i18n en="The Myazedi pagoda is a gilded stupa sitting on a number of square
                                    receding tiers,
                                    located in Myinkaba village South of old Bagan. The Myazedi was built during the
                                    first half of the 12th century by Prince Yazakumar to make merit and to serve as a
                                    memorial to his mother. The name of the paya translates to “Jade Pagoda”."
                                    mm="မြဇီဒီစေတီတော်သည် လေးထောင့်အနိမ့်အမြင့် အထပ်များစွာပေါ်၌ ရွှေချထားသော
                                    စေတီတော်ဖြစ်ပြီး၊
                                    ပုဂံဟောင်းတောင်ဘက် မြင်းကဘာကျေးရွာမှာ တည်ရှိပါတယ်။ မြဇီဒီခေတ်က ဆောက်ခဲ့တာ
                                    မင်းသား Yazakumar က 12 ရာစုရဲ့ ပထမနှစ်ဝက်မှာ ကုသိုလ်ယူဖို့၊
                                    သူ့အမေအတွက် အမှတ်တရ။ ပါယာ၏အမည်မှာ ကျောက်စိမ်းစေတီဟု ဘာသာပြန်ဆိုသည်။"}}
                                </p>
                                <p class="default-text">
                                    location: 5V46+VHR, Myin Ka Bar
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container d-block">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 d-flex justify-content-center">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.758211717142!2d94.87094481476566!3d21.162018485926364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30b5e4de1e0ca4d9%3A0x8d1e24b120882ac5!2sDhammayangyi%20Temple!5e0!3m2!1sen!2smm!4v1677352481559!5m2!1sen!2smm"
                                    width="600" height="400" style=":0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
                            </div>
                            <div class="col-md-4 pt-4">
                                <p class="default-text">
                                    {{> i18n en="The Dhammayangyi temple was build by King Narathu in 1170. Narathu
                                    became King of Bagan after murdering his father and his brother, who was next in
                                    line to become King. Narathu was probably worried about bad karma and build to
                                    massive temple to gain merit and to compensate for murdering his father and
                                    brother." mm="ဓမ္မယန်ကြီးဘုရားကျောင်းကို ၁၁၇၀ ခုနှစ်တွင် နရသူမင်းကြီးတည်
                                    ဆောက်ခဲ့သည်။ နရသူသည် ခမည်းတော်နှင့်ညီတော်တို့ကို သတ်ပြီးနောက် ပုဂံဘုရင်ဖြစ်လာခဲ့သည်။
                                    နာရသူသည် မကောင်းမှုပြုခြင်းအတွက် စိတ်ပူပြီး သူ့အဖေနှင့်အစ်ကိုကို သတ်ခြင်းအတွက်
                                    လျော်ကြေးပေးရန် ကုသိုလ်ရရန် ကြီးမားသော ဗိမာန်ကြီး ဆောက်ရန် ဖြစ်နိုင်သည်။"}}
                                </p>
                                <p class="default-text">
                                    Location: 5V6F+R72, Old Bagan
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container d-block">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 d-flex justify-content-center">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.3987536284703!2d94.85571431476592!3d21.176312785918636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30b5e5042d54a833%3A0xd1f25b476ae9f123!2sBu%20Phaya!5e0!3m2!1sen!2smm!4v1677352571230!5m2!1sen!2smm"
                                    width="600" height="400" style=":0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
                            </div>
                            <div class="col-md-4 pt-4">
                                <p class="default-text">
                                    {{> i18n en="According to the earliest claimed historical records, the Bupaya Pagoda
                                    claimed as the oldest, was built in the 3rd century by the third king of Pagan,
                                    Pyusawdi, who ruled from 168 to 243 AD." mm="အစောဆုံးသမိုင်းဝင်မှတ်တမ်းများ အရ
                                    ရှေးအကျဆုံးဟု ဆိုထားသော ဘူပယစေတီကို အေဒီ ၁၆၈ မှ ၂၄၃ တွင် ပုဂံမင်း တတိယမင်း လက်ထက် ၃
                                    ရာစုတွင် တည်ဆောက်ခဲ့သည်။"}}
                                </p>
                                <p class="default-text">
                                    location: 5VG5+G5C, Old Bagan
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    {{> up-arrow}}

    <br><br>
    {{> footer}}

    <script src="/js/index.js"></script>
</body>

</html>