<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> global-head }}
</head>

<body>
    {{> header }}
    <section class="weekly-time">
            <div class="row">
                <div class="marquee">
                    <div class="track">
                        <div class="content">
                            <p class="weekly-time-text text-center">
                                WEEKLY CLUB TIME: EVERY FRIDAY (3 - 4) PM
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                WEEKLY CLUB TIME: EVERY FRIDAY (3 - 4) PM
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="hero">
        <div class="row">
            <div class="col-5 lp-left">
                <div class="row main-header-div">
                    <h1 class="main-header">
                        THE LIT <br> CLUB
                    </h1>
                </div>
                <div class="row">
                    <p class="lp-intro">
                        A roundtable for lovers of <u>lit</u>erature and seekers of self-improvement.
                    </p>
                </div>
            </div>
            <div class="col-7 hero-gif">
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="row">
            <div class="col-5 lp-left py-3">
                <a href="#">
                    <button class="hero-btn">
                        <span class="btn-label">
                            JOIN US!
                        </span>
                    </button>
                </a>
            </div>
            <div class="col-7"></div>
        </div>
    </section>
    <section class="hero pt-5">
        <div class="container intro-div">
            <div class="row d-flex justify-content-start first-intro">
                <span class="second-intro-text">
                    WE ALL WANT TO CONQUER THE WORLD, DON'T WE?
                </span>
                <span class="second-intro-text">
                    BEFORE YOU SAY NO, STOP. YES YOU DO.
                </span>
                <span class="second-intro-text">
                    BECAUSE "THE WORLD" TO YOU IS NO OTHER THAN YOURSELF <3 </span>
            </div>
            <div class="row d-flex justify-content-start pt-5 second-intro">
                <span class="second-intro-text" style="text-align: end;">
                    AT THE LIT CLUB, WE STRIVE FOR SELF-IMPROVEMENT.
                </span>
                <span class="second-intro-text" style="text-align: end;">
                    THIS INEVITABLY MEANS NOT AVOIDING CONFRONTATIONS WITH OURSELVES,
                </span>
                <span class="second-intro-text" style="text-align: end;">
                    BUT RATHER ACTIVELY PURSUING IT.
                </span>
            </div>
            <div class="row d-flex justify-content-end pt-5 third-intro">
                <span class="second-intro-text">
                    LET’S GROW INTO THE BEST VERSIONS OF OURSELVES TOGETHER!
                </span>
            </div>
            <div class="row text-center pt-5 pb-5">
                <a href="#">
                    <button class="explore-btn">
                        EXPLORE
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="container">
            <div class="row d-flex justify-content-end">
                <span class="activity-header" style="text-align: end;">
                    OUR ACTIVITIES
                </span>
            </div>
        </div>
    </section>
    <section class="hero activities">
        <div class="activities-contain">
            <div class="row">
                <div class="col-lg-4 activity-border activity-1">
                    <div class="col d-flex justify-content-around ps-3 activity-padding">
                        <div class="card pb-4">
                            <img src="https://i.pinimg.com/564x/45/94/66/459466a50ad0be32f8da4e5ba40a41a6.jpg"
                                class="card-img" alt="...">
                        </div>
                        <div class="row">
                            <span class="activity-title pt-4">1. LITERARY BOWL</span>
                            <div class="row">
                                <button class="cta">
                                    <svg width="45" height="19" viewBox="0 0 45 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <line y1="10" x2="43" y2="10" stroke="#343434" stroke-width="2" />
                                        <line x1="34.7071" y1="1.29289" x2="43.7086" y2="10.2944" stroke="#343434"
                                            stroke-width="2" />
                                        <line x1="34.293" y1="18.2928" x2="43.2944" y2="9.29283" stroke="#343434"
                                            stroke-width="2" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 activity-border">
                    <div class="col d-flex justify-content-center ps-3 activity-padding">
                        <div class="card pb-4">
                            <img src="https://i.pinimg.com/564x/45/94/66/459466a50ad0be32f8da4e5ba40a41a6.jpg"
                                class="card-img" alt="...">
                        </div>
                        <div class="row">
                            <span class="activity-title pt-4">2. IMPROVISED PRESENTATION</span>
                            <div class="row">
                                <button class="cta">
                                    <svg width="45" height="19" viewBox="0 0 45 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <line y1="10" x2="43" y2="10" stroke="#343434" stroke-width="2" />
                                        <line x1="34.7071" y1="1.29289" x2="43.7086" y2="10.2944" stroke="#343434"
                                            stroke-width="2" />
                                        <line x1="34.293" y1="18.2928" x2="43.2944" y2="9.29283" stroke="#343434"
                                            stroke-width="2" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 activity-border activity-border-cancel">
                    <div class="col d-flex justify-content-center ps-3 activity-padding">
                        <div class="card pb-4">
                            <img src="https://i.pinimg.com/564x/45/94/66/459466a50ad0be32f8da4e5ba40a41a6.jpg"
                                class="card-img" alt="...">
                        </div>
                        <div class="row">
                            <span class="activity-title pt-4">3. MONTHLY MAGAZINES</span>
                            <div class="row">
                                <button class="cta">
                                    <svg width="45" height="19" viewBox="0 0 45 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <line y1="10" x2="43" y2="10" stroke="#343434" stroke-width="2" />
                                        <line x1="34.7071" y1="1.29289" x2="43.7086" y2="10.2944" stroke="#343434"
                                            stroke-width="2" />
                                        <line x1="34.293" y1="18.2928" x2="43.2944" y2="9.29283" stroke="#343434"
                                            stroke-width="2" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="activities-contain">
            <div class="row">
                <div class="col-lg-4 activity-border">
                    <p class="activities-desc ps-4 pt-4 pe-4" style="text-align: justify;">
                        A list of activities that the club can partake in, based on the organizers’ choice or through
                        voting.
                        <br><br>
                        Most of the time, these activities will be done as described but it is encouraged to
                        make changes to them as fit.
                    </p>
                </div>
                <div class="col-lg-4 activity-border">
                    <div class="col d-flex justify-content-center ps-3 activity-padding">
                        <div class="card pb-4">
                            <img src="https://i.pinimg.com/564x/45/94/66/459466a50ad0be32f8da4e5ba40a41a6.jpg"
                                class="card-img" alt="...">
                        </div>
                        <div class="row">
                            <span class="activity-title pt-4">4. FAST RECALL</span>
                            <div class="row">
                                <button class="cta">
                                    <svg width="45" height="19" viewBox="0 0 45 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <line y1="10" x2="43" y2="10" stroke="#343434" stroke-width="2" />
                                        <line x1="34.7071" y1="1.29289" x2="43.7086" y2="10.2944" stroke="#343434"
                                            stroke-width="2" />
                                        <line x1="34.293" y1="18.2928" x2="43.2944" y2="9.29283" stroke="#343434"
                                            stroke-width="2" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 activity-border activity-border-cancel">
                    <div class="col d-flex justify-content-center ps-3 activity-padding">
                        <div class="card pb-4">
                            <img src="https://i.pinimg.com/564x/45/94/66/459466a50ad0be32f8da4e5ba40a41a6.jpg"
                                class="card-img" alt="...">
                        </div>
                        <div class="row">
                            <span class="activity-title pt-4">5. DEBATES</span>
                            <div class="row">
                                <button class="cta">
                                    <svg width="45" height="19" viewBox="0 0 45 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <line y1="10" x2="43" y2="10" stroke="#343434" stroke-width="2" />
                                        <line x1="34.7071" y1="1.29289" x2="43.7086" y2="10.2944" stroke="#343434"
                                            stroke-width="2" />
                                        <line x1="34.293" y1="18.2928" x2="43.2944" y2="9.29283" stroke="#343434"
                                            stroke-width="2" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="activities-contain">
            <div class="row">
                <div class="col-lg-4 activity-border">
                    <div class="col d-flex justify-content-center ps-3 activity-padding">
                        <div class="card pb-4">
                            <img src="https://i.pinimg.com/564x/45/94/66/459466a50ad0be32f8da4e5ba40a41a6.jpg"
                                class="card-img" alt="...">
                        </div>
                        <div class="row">
                            <span class="activity-title pt-4">6. FINDING MIDDLE GROUND</span>
                            <div class="row">
                                <button class="cta">
                                    <svg width="45" height="19" viewBox="0 0 45 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <line y1="10" x2="43" y2="10" stroke="#343434" stroke-width="2" />
                                        <line x1="34.7071" y1="1.29289" x2="43.7086" y2="10.2944" stroke="#343434"
                                            stroke-width="2" />
                                        <line x1="34.293" y1="18.2928" x2="43.2944" y2="9.29283" stroke="#343434"
                                            stroke-width="2" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 activity-border">
                    <div class="col d-flex justify-content-center">
                        <p class="activities-desc ps-4 pt-4 pe-4" style="text-align: justify;">
                            A list of activities that the club can partake in, based on the organizers’ choice or
                            through
                            voting.
                            <br><br>
                            Most of the time, these activities will be done as described but it is encouraged to
                            make changes to them as fit.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 activity-border activity-border-cancel">
                    <div class="col d-flex justify-content-center ps-3 activity-padding">
                        <div class="card pb-4">
                            <img src="https://i.pinimg.com/564x/45/94/66/459466a50ad0be32f8da4e5ba40a41a6.jpg"
                                class="card-img" alt="...">
                        </div>
                        <div class="row">
                            <span class="activity-title pt-4">7. LIT EXPEDITIONS</span>
                            <div class="row">
                                <button class="cta">
                                    <svg width="45" height="19" viewBox="0 0 45 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <line y1="10" x2="43" y2="10" stroke="#343434" stroke-width="2" />
                                        <line x1="34.7071" y1="1.29289" x2="43.7086" y2="10.2944" stroke="#343434"
                                            stroke-width="2" />
                                        <line x1="34.293" y1="18.2928" x2="43.2944" y2="9.29283" stroke="#343434"
                                            stroke-width="2" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
<script>
    let tlOne = gsap.timeline({
        scrollTrigger: {
            trigger: '.intro-div',
            start: '.center center',
            toggleActions: 'restart complete restart'
        }
    });

    tlOne.from('.first-intro', { x: -20, opacity: 0, duration: 2 })
        .from('.second-intro', { y: 20, opacity: 0, duration: 2 }, "1")
        .from('.third-intro', { x: -20, opacity: 0, duration: 2 })
</script>

</html>