<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literature Bowl</title>
    {{> global-head }}
    <link rel="stylesheet" href="css/activity.css">
</head>

<body>
    {{> header }}
    {{> activity-head }}
    <div class="row ps-3 pt-3">
        <p class="activity-head text-center">
            LITERARY BOWL
        </p>
    </div>
    <br><br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <p style="text-align: center;" class="activity-desc">
                    An infinitely sized bowl of quotes from different sources of literature, which we will choose at a
                    random, and have discussions surrounding them.
                </p>
            </div>
        </div>
    </div>
    <br>
    <section class="section-line">
        <div class="container py-1">
            <div class="row">
                <p class="misc-heading">
                    SIMULATION
                </p>
            </div>
        </div>
    </section>
    <section class="section-line">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 py-5">
                    <div class="card sim-card">
                        <div class="card-header sim-header">
                            <div class="row">
                                <div class="col-6">
                                    literature_bowl.exe
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <div>
                                        cross
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body cards">
                            <div class="row">
                                <p id="card" class="text-center">Generate a quote! <br> <br> </p>
                            <p class="card-text sim-quote text-center" id="meaning">
                            </p>
                            </div>
                            <div class="text-center btn-overflow pt-3">
                            <button onclick="generate()" type="button" class="lit-btn"> <span class="btn-label">Generate</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-5">
                    <p class="activity-intro-two">
                        Come join us as we discuss on a lot more of these!
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
<script src="js/quote-generate.js"></script>