<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Middle Ground Activity - The Lit Club</title>
    {{> global-head }}
    <meta property="og:description" content="Inspired by the Youtube Channel Jubilee, when we find a particular topic interesting, and the views of the club are diverse, we will take the chance to find a middle ground among us. The members will come up with prompts, to which we will discuss or agree to disagree." />
    <link rel="stylesheet" href="css/activity.css">
</head>

<body>
    {{> header }}
    {{> activity-head }}
    <div class="row ps-3 pt-3">
        <p class="activity-head text-center">
            FINDING MIDDLE GROUND
        </p>
    </div>
    <br><br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <p style="text-align: start;" class="activity-desc">
                    Inspired by the Youtube Channel Jubilee, when we find a particular topic interesting, and the views of the club are diverse, we will take the chance to find a middle ground among us.
                    <br><br>
                    The members will come up with prompts, to which we will discuss or agree to disagree.
                </p>
            </div>
        </div>
    </div>
    <br>
    <section class="section-line">
        <div class="container py-1">
            <div class="row">
                <p class="misc-heading text-center">
                    MORE CONTENT COMING SOON!
                </p>
            </div>
        </div>
    </section>
</body>

</html>