body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
.activity-secondary { 
    font-family: var(--primary-header);
    font-size: 4em;
    /* line-height: 4rem; */
    letter-spacing: 0.1em;
    color: var(--constant-text);
    overflow-y: hidden;
}

.activity-primary { 
    font-family: var(--primary-header);
    font-weight: bold;
    font-size: 6.5em;
    /* line-height: 6.5rem; */
    color: var(--constant-text);
}

.activity-head { 
    font-family: var(--primary-header);
    font-weight: bold;
    font-size: 6em;
    line-height: 6rem;
    color: var(--constant-text);
}

.activity-intro {
    font-family: var(--primary-header);
    font-weight: bold;
    font-size: 2rem;
    /* line-height: 2rem; */
    color: var(--constant-text);
    overflow-y: hidden;
}
  
.activity-nav {
    border-top: var(--default-border);
    border-bottom: var(--default-border);
}
  
.activity-nav-two {
    border-bottom: var(--default-border);
}

.nav-link {
    font-family: var(--secondary-header);
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    color: var(--constant-text);
}

.flex-sm-fill {
    border-right: var(--default-border);
}

.nav-hover:hover {
    color: #5F213D;
    background-color: #269887;
}

.active {
    color: #5F213D;
    background-color: #f6bc57;
}

.active:hover {
    color: #5F213D;
    background-color: #f6bc57;  
}

.section-line {
    border-top: var(--default-border);
}

.activity-desc {
    font-family: var(--secondary-header);
    font-size: 1.2em;
    line-height: 1.2em;
    color: var(--constant-text);
    font-weight: bold;
    overflow-y: hidden;
    
}

.misc-heading {
    font-family: var(--secondary-header);
    font-size: 3em;
    color: var(--constant-text);
    font-weight: bold;
    padding-top: 0.4em;
}

.sim-card {
    aspect-ratio: 2 / 1 !important;
    max-width: 35em;
    border-radius: 1em;
    border: var(--default-border);
}

.card-header {
    background-color: #DBA5D2;
    border-top-right-radius: 1em !important;
    border-top-left-radius: 1em !important;
    border-bottom: var(--default-border);
}

.card-body {
    background-color: #f6bc57;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: fit-content;
}

#card {
    font-family: var(--primary-header);
    font-size: 1.5em;
    color: var(--constant-text);
    font-weight: bold;
}

#meaning {
    font-family: var(--secondary-header);
    font-size: 1em;
    color: var(--constant-text);
    font-weight: bold;
    font-style: italic;
}

.lit-btn {
    background-color: #DBA5D2;
    color: #2A1931;
    border-radius: 10em;
    max-width: 15rem;
    font-family: var(--secondary-header);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5em 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: var(--default-border);
    box-shadow: 0 0 0 0 var(--constant-text);
  }
  
  .lit-btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 var(--constant-text);
  }
  
  .lit-btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 var(--constant-text);
  }

  .activity-intro-two {
    font-family: var(--primary-header);
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    color: var(--constant-text);
    overflow-y: hidden;
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .activity-secondary { 
        font-size: 1em;
        line-height: 1em;
        letter-spacing: 0.1em;
        overflow-y: hidden;
    }
    
    .activity-primary { 
        font-family: var(--primary-header);
        font-weight: bold;
        font-size: 3em;
        /* line-height: 3em; */
        color: var(--constant-text);
    }

    .activity-secondary { 
        font-family: var(--primary-header);
        font-size: 7.5vw;
        line-height: 1em;
        letter-spacing: 0.1em;
        color: var(--constant-text);
        overflow-y: hidden;
    }

    .activity-intro {
        font-family: var(--primary-header);
        font-weight: bold;
        font-size: 7vw;
        line-height: 2rem;
        color: var(--constant-text);
    }

    .flex-sm-fill {
        border-right: var(--default-border);
        border-bottom: var(--default-border);
    }

    .border-cancel {
        border-bottom: none;
    }

    .activity-head { 
        font-family: var(--primary-header);
        font-weight: bold;
        font-size: 13vw;
        color: var(--constant-text);
        overflow-y: hidden;
    }

    .sim-card {
        aspect-ratio: 1 / 1 !important;
        max-width: 400px;
        border-radius: 1em;
        border: var(--default-border);
    }
  }

  @media screen and (min-device-width: 768px)
and (max-device-width: 820px) {
    .border-top-add {
        border-top: var(--default-border);
    }

    .border-bottom-add {
        border-bottom: var(--default-border);
    }
}